
<ion-list>
  <ion-item>
    <ion-label>Genero</ion-label>
    <ion-select multiple="true" [(ngModel)] ="gender">
      <ion-select-option value="+Horror">Horror</ion-select-option>
      <ion-select-option value="+Fantasy">Fantasy</ion-select-option>
      <ion-select-option value="+Action">Action</ion-select-option>
      <ion-select-option value="+Mystery">Mystery</ion-select-option>
      <ion-select-option value="+Thriller">Thriller</ion-select-option>
      <ion-select-option value="+Romance">Romance</ion-select-option>
      <ion-select-option value="+Romance">Comedy</ion-select-option>
    </ion-select>
  </ion-item>
  

</ion-list>


  <button (click)="comprobar()" >Aplicar Cambios</button>

 

